body {
  background: #e9e9e9;
}

main {
  margin: 2rem 10%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  width: 80vw;

}

.container>h4 {
  margin-left: 1rem;
  margin-top: 20px;
}

.container>p {
  margin-left: 1rem;
  margin-top: -0rem;
}